body {
	background-image: url(bg-clouds.png);
	background-color: #0f7ec5;
	background-repeat: repeat-y 1;
	background-size:100vh;
}

header{
	margin: 0 auto;
	width:210px;
	height: 20vh;
}
section{
	margin: 0 auto;
	width: 613px;
	background-color: white;
	height: 615px;
	padding-top: 5vh;

}
input{
	height: 30px;
}

form{
	margin: 0 auto;
	width: 550px;
	height:614px;
	
 }
 header p{
 	font-family: 'Poiret One', cursive;
 	color: white;
 	font-weight: bold;
}
a{
	color: black;
}

 
 .contenaire{
 	display: grid;
 	grid-template-columns:1fr 1fr;
 	grid-template-rows:1fr 1fr;
 	grid-column-gap: 10px;

 }
 .item2{
 	grid-row-start:2 ;
 	grid-row-end:3;
 	
 }
 .item4{
 	grid-row-start:2 ;
 	grid-row-end:3; 
 	grid-column-start: 2;
 	grid-column-end: 3;
 }
 .infos{
 	display: grid;
 	grid-template-columns: 1fr;
 	grid-template-rows:repeat(8,50px;)
 


 }
 .oeuil{
 	border:1px solid #bbadad;
 	height: 35px;
 	
 }
 .passs{
 	border:none;
 	width:96%;
 	height: 15px;
 	padding-top: 15px;
 	padding-bottom:5px;
 	
 }
 .oeuil img{
 	width: 15px;
 	height: 15px;
 	padding-top: 5px;

 }
 label{
 	font-weight: bold;
 	margin-top: 15px;
 	font-family: 'Open Sans', sans-serif;
 }
 .bouton{
 	display: grid;
 	grid-template-columns: 1fr 1fr 1fr 1fr;
 	grid-template-rows: 1fr 1fr;

 	 	
 }

.continuer{
	background-color: #0f7ec5;
	width:8em;
	height: 3em;
	margin-left:200px;
	margin-top: 10px;
	color: white;
}
 button{
 	width:8em;
 	margin-bottom:10px;
 	border:none;
 	background-color:#eeeeee;
 }
 button:hover{
 	background-color: blue;
 }
 div p{
 	font-weight: bold;
 	font-family: 'Open Sans', sans-serif;
 }
 .b0{
 	background-color:#0f7ec5; 
 	color: white;
 }
 .b4{
 	grid-row-start:2 ;
 	grid-row-end:3; 
 	grid-column-start:1;
 	grid-column-end: 2;
 	
 }
 .b5{
 	grid-row-start:2 ;
 	grid-row-end:3; 
 	grid-column-start:2;
 	grid-column-end: 3;

 	
 }
 .aa{
 	grid-row-start:2 ;
 	grid-row-end:3; 
 	grid-column-start:3;
 	grid-column-end: 4;
 	font-family: 'Open Sans', sans-serif;
 	color: black;
 	font-size: 14px;
 	width: 10em;
 	font-weight: bold;

 	}
 	.accept{
 		margin-top: 15px;
 	}
.oui{
	display: grid;
	grid-template-columns:4fr 1fr;
	grid-template-rows:r 1fr;
}
 .switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius:5px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #92999C;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #FFF;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color:;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: rgb(209,206,197);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width:50px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
